/Libraries/*
/Tests/*
/Presentation/Nop.Web/wwwroot/*
/Presentation/Nop.Web/Plugins/*
/Plugins/Nop.Plugin.DiscountRules.CustomerRoles/*
/Plugins/Nop.Plugin.ExchangeRate.EcbExchange/*
/Plugins/Nop.Plugin.ExternalAuth.Facebook/*
/Plugins/Nop.Plugin.Payments.CheckMoneyOrder/*
/Plugins/Nop.Plugin.Payments.Manual/*
/Plugins/Nop.Plugin.Payments.PayPalStandard/*
/Plugins/Nop.Plugin.Payments.Square/*
/Plugins/Nop.Plugin.Payments.Worldpay/*
/Plugins/Nop.Plugin.Pickup.PickupInStore/*
/Plugins/Nop.Plugin.Shipping.FixedByWeightByTotal/*
/Plugins/Nop.Plugin.Shipping.UPS/*
/Plugins/Nop.Plugin.Tax.FixedOrByCountryStateZip/*
/Plugins/Nop.Plugin.Widgets.GoogleAnalytics/*
/Plugins/Nop.Plugin.Widgets.NivoSlider/*
/Presentation/Nop.Web.Framework/*
/Presentation/Nop.Web/bin/*
/Presentation/Nop.Web/C*
/Presentation/Nop.Web/E*
/Presentation/Nop.Web/F*
/Presentation/Nop.Web/I*
/Presentation/Nop.Web/M*
/Presentation/Nop.Web/V*
/Presentation/Nop.Web/A*
/Presentation/Nop.Web/P*
/Presentation/Nop.Web/S*
/Presentation/Nop.Web/o*
/Presentation/Nop.Web/N*
/Build*
/Plugins/ClassLibrary1/